.css-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    //scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
        display: none;
    }
}
.css-carousel-item {
    scroll-snap-align: start;
    flex-shrink: 0;
}

.card-carousel {
    --#{$c-prefix}cc-item-width: #{rfs-value(310px)};
    @extend .css-carousel;

    $selector: &;

    /*display: grid;
    grid-auto-flow: column;
    grid-auto-columns: #{divide(310, 16)}rem;*/
    gap: $spacer * 0.75;

    &__item {
        &.card--type2 {
            --#{$prefix}card-spacer-x: 0;
            --#{$prefix}card-cap-padding-x: 0;
        }

        @extend .css-carousel-item;
        width: var(--#{$c-prefix}cc-item-width);
    }

    @include media-breakpoint-up(lg) {
        gap: $spacer * 1.5;

        &--center {
            gap: $spacer * 1.25;
            margin-left: auto;
            margin-right: auto;
            max-width: calc(var(--#{$c-prefix}cc-item-width) * 3 + ($spacer * 1.25) * 2);
        }
    }
}

.logos-carousel {
    @extend .css-carousel;

    gap: $spacer * 1.25;

    &__item {
        @extend .css-carousel-item;

        overflow: hidden;
        outline: var(--#{$prefix}border-width) solid $light;
        outline-offset: calc(var(--#{$prefix}border-width) * -1);
        width: #{divide(160, 16)}rem;
        text-align: center;
    }
}

.indicator-list {
    @extend .list-unstyled;
    display: none;
    justify-content: center;
    gap: $spacer * 0.75;

    li {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        background: #dfdfdf;
        overflow: hidden;
        text-indent: -10rem;

        &.active,
        &:hover {
            background: $secondary;
        }

        &:hover:not(.active) {
            cursor: pointer;
        }
    }

    @include media-breakpoint-up(lg) {
        display: flex;
    }
}
