.contact-box {
    line-height: $line-height-sm;

    &--iconed {
        padding-left: 2.5rem;
        position: relative;

        .contact-box__icon {
            position: absolute;
            left: 0;
        }
    }

    &__head {
    }

    &__sub {
        font-size: $font-size-base * 0.75;
        color: $middle;
    }
}

.contact-box-dl {
    font-size: $font-size-base;
    line-height: $line-height-base;

    dt {
        margin-bottom: #{$spacer * 0.5};
    }
    @at-root dl#{&},
        dd {
        margin-bottom: 0;
    }
}
