:root {
    --#{$c-prefix}gallery-width: #{calc(50% - #{$spacer * divide(0.75, 2)})};
    --#{$c-prefix}gallery-width-lg: 30.526%;
    --#{$c-prefix}gallery-width-v-lg: 17.543%;
}

.grid-gallery {
    @extend .css-carousel;

    gap: $spacer * 0.75;

    &--wrap {
        flex-wrap: wrap;
    }

    &__item {
        --#{$prefix}aspect-ratio: 74.7%;

        @extend .css-carousel-item;

        overflow: hidden;
        @include border-radius(var(--#{$prefix}border-radius));
        width: var(--#{$c-prefix}gallery-width);

        img {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
        }

        &:hover img[data-src] {
            filter: brightness(0.9);
            cursor: pointer;
        }
    }
    @include media-breakpoint-down(lg) {
        &--wrap_xs {
            flex-wrap: wrap;
        }
    }
    @include media-breakpoint-up(lg) {
        //column-gap: 1.287%;

        &__item {
            width: var(--#{$c-prefix}gallery-width-lg);

            &.vertical {
                --#{$prefix}aspect-ratio: 129%;
                width: var(--#{$c-prefix}gallery-width-v-lg);
            }
        }

        &--wrap_lg {
            flex-wrap: wrap;
        }
    }
}

.grid-gallery--v2 {
    --#{$c-prefix}gallery-width-lg: 38.921%;
    --#{$c-prefix}gallery-width-v-lg: 22.368%;
}
