.header-top {
    &__logo {
        height: rfs-value(56px);

        img {
            height: 100%;
            width: auto;
        }

        &-sub {
            font-size: #{$font-size-sm};
            line-height: #{$line-height-sm};
            align-content: center;
            span {
                font-size: #{divide(15, 16)}rem;
                font-weight: 600;
            }
        }
    }

    &__contacts {
    }

    &__burger {
        border: 0;
        color: var(--#{$prefix}body-color);
        background: transparent;
    }

    @include media-breakpoint-up(lg) {
        &__logo {
            height: rfs-value(80px);
            margin-left: 1.6875rem;
        }
    }
}
