<section class='container layout-container'>
    <div class='d-lg-none text-center mb-5'>
        <h2>О компании</h2>
    </div>
    <div class='row'>
        <div class='col-lg-7 pe-lg-5 order-1 order-lg-0'>
            <div class='mb-4 d-none d-lg-block'>
                <h2>О компании</h2>
            </div>
            <p>ООО «ПВП «СНК» — российский разработчик и производитель оборудования для неразрушающего контроля под брендами «Металлтест» и «СТИЛ».
                Также мы поставляем широкий спектр промышленного оборудования и приборов для лабораторий и предприятий по всей России и СНГ.</p>

            <p class='mb-lg-0'><strong>Ключевые направления:</strong></p>
            <ul>
                <li>Химический анализ металлов и сплавов;</li>
                <li>Определение драгметаллов в катализаторах;</li>
                <li>Анализ горных пород и поиск полезных ископаемых;</li>
                <li>Контроль качества ювелирных изделий.</li>
            </ul>

            <p>Мы предлагаем комплексные решения <strong>«под ключ»</strong> — от подбора оборудования до внедрения и поддержки.</p>
        </div>
        <div class='col-lg-5'>
            <div class='grid gap-1 gap-lg-4 mb-5 mb-lg-0'>
                <div class='basic-text-box basic-text-box--topicon border g-col-6'>
                    <i class='i-wrench'></i>
                    <div>
                        <p class='basic-text-box__title'>Собственное<br />производство</p>
                        <p class='basic-text-box__desc'>Контроль качества, доступные цены и полная техническая поддержка</p>
                    </div>
                </div>
                <div class='basic-text-box basic-text-box--topicon border g-col-6'>
                    <i class='i-handshake'></i>
                    <div>
                        <p class='basic-text-box__title'>Экспертиза<br />«под ключ»</p>
                        <p class='basic-text-box__desc'>Не просто продаем прибор, а подбираем оптимальное решение под вашу задачу</p>
                    </div>
                </div>
                <div class='basic-text-box basic-text-box--topicon border g-col-6'>
                    <i class='i-gear'></i>
                    <div>
                        <p class='basic-text-box__title'>Широкая<br />дилерская сеть</p>
                        <p class='basic-text-box__desc'>Обеспечиваем оперативные поставки и сервис в любом регионе РФ и СНГ</p>
                    </div>
                </div>
                <div class='basic-text-box basic-text-box--topicon border g-col-6'>
                    <i class='i-laptop'></i>
                    <div>
                        <p class='basic-text-box__title'>Российское ПО и технологии</p>
                        <p class='basic-text-box__desc'>Современные решения, адаптированные под требования отечественного рынка.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='mt-4 mt-lg-6'>
        <a href='#' class='btn btn-primary d-lg-none btn-custom-width' style='--cpvp-btn-width: 100%'>Подробнее</a>
        <a href='#' class='btn btn-primary d-none d-lg-block btn-custom-width mx-auto' style='--cpvp-btn-width: 19.875rem'>Подробнее о нас</a>
    </div>
</section>