<section class='container layout-container d-none d-lg-block'>
    <div class='text-center'>
        <h3 class='fs-5'>Оборудование по типу применения:</h3>
    </div>
    <div class='grid my-4' style='--pvp-columns: 4;'>
        <a href='#' class='btn btn-outline-primary btn-icon color-dark'><i class='i-metall'></i>Для металлов</a>
        <a href='#' class='btn btn-outline-primary btn-icon color-dark'><i class='i-drag'></i>Для драгов</a>
        <a href='#' class='btn btn-outline-primary btn-icon color-dark'><i class='i-geo'></i>Для геохимии</a>
        <a href='#' class='btn btn-outline-primary btn-icon color-dark'><i class='i-co2'></i>Для углерода</a>
    </div>
</section>