<section class="container layout-container js-carousel-container">
    <h2 class="layout-title">Сопровождение&nbsp;<br /><span>на всех</span> этапах</h2>
    <p class="layout-subtitle">Надёжность, подтверждённая сервисом:<br />
        полное сопровождение вашего оборудования</p>
    <div class="card-carousel" data-carousel role="region" aria-label="Сопровождение">
        <div class="card-carousel__item card" data-carousel-item>
            <img src="../../content/serv4_1.png" class="card-img" alt="serv1" width="310" height="183" />
            <div class="card-body">
                <h3 class="card-title">Бесплатное демо</h3>
                <p class="card-text">Убедитесь в правильном решении до покупки. Протестируйте прибор</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary d-block">Подробнее</a>
            </div>
        </div>
        <div class="card-carousel__item card" data-carousel-item>
            <img src="../../content/serv4_2.png" class="card-img" alt="serv2" width="310" height="183" />
            <div class="card-body">
                <h3 class="card-title">Обучение оператора</h3>
                <p class="card-text">Убедитесь в правильном решении до покупки. Протестируйте прибор</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary d-block">Подробнее</a>
            </div>
        </div>
        <div class="card-carousel__item card" data-carousel-item>
            <img src="../../content/serv4_3.png" class="card-img" alt="serv3" width="310" height="183" />
            <div class="card-body">
                <h3 class="card-title">Лизинг</h3>
                <p class="card-text">Эффективное оборудование сейчас, а оплата — гибко и постепенно.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary d-block">Подробнее</a>
            </div>
        </div>
        <div class="card-carousel__item card" data-carousel-item>
            <img src="../../content/serv4_4.png" class="card-img" alt="serv4" width="310" height="183" />
            <div class="card-body">
                <h3 class="card-title">Поверка приборов</h3>
                <p class="card-text">Убедитесь в правильном решении до покупки. Протестируйте прибор</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary d-block">Подробнее</a>
            </div>
        </div>
    </div>
    <ul class="indicator-list mt-4" data-carousel-nav>
        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</section>