<section class='container layout-container position-relative js-carousel-container {{addClasses}}'>
    <h2 class='layout-title'>{{#if heading}}{{heading}}{{else}}Популярное оборудование{{/if}}</h2>
    <div class='card-carousel card-carousel--center gap-1 gap-lg-3' data-carousel role='region' aria-label='Оборудование'>
        <div class='card-carousel__item card card--type2' data-carousel-item>
            <img src='../../content/popular_1.png' class='card-img' alt='serv1' width='290' height='290' />
            <div class='card-body'>
                <h3 class='card-title'>Оптико-эмиссионный анализатор Стил М4</h3>
                <p class='card-text'>Самый быстры анализ металлов</p>
            </div>
            <div class='card-footer'>
                <a href='#' class='btn btn-primary d-block' data-bs-target='#modal-order' data-bs-toggle='modal'>Узнать цену</a>
            </div>
        </div>
        <div class='card-carousel__item card card--type2' data-carousel-item>
            <img src='../../content/popular_2.png' class='card-img' alt='pop2' width='290' height='290' />
            <div class='card-body'>
                <h3 class='card-title'>Оптико-эмиссионный анализатор Стил М4</h3>
                <p class='card-text'>Самый быстры анализ металлов</p>
            </div>
            <div class='card-footer'>
                <a href='#' class='btn btn-primary d-block' data-bs-target='#modal-success' data-bs-toggle='modal'>Узнать цену</a>
            </div>
        </div>
        <div class='card-carousel__item card card--type2' data-carousel-item>
            <img src='../../content/popular_3.png' class='card-img' alt='pop3' width='290' height='290' />
            <div class='card-body'>
                <h3 class='card-title'>Оптико-эмиссионный анализатор Стил М4</h3>
                <p class='card-text'>Самый быстры анализ металлов</p>
            </div>
            <div class='card-footer'>
                <a href='#' class='btn btn-primary d-block' data-bs-target='#modal-error' data-bs-toggle='modal'>Узнать цену</a>
            </div>
        </div>
        <div class='card-carousel__item card card--type2' data-carousel-item>
            <img src='../../content/popular_2.png' class='card-img' alt='pop2' width='290' height='290' />
            <div class='card-body'>
                <h3 class='card-title'>Оптико-эмиссионный Стил М25</h3>
                <p class='card-text'>Самый быстрый анализ металлов</p>
            </div>
            <div class='card-footer'>
                <a href='#' class='btn btn-primary d-block'>Узнать цену</a>
            </div>
        </div>
    </div>
    <button class='carousel-control-prev d-none d-lg-block' type='button' data-type='prev' data-carousel-btn>
        <span class='carousel-control-prev-icon i-left' aria-hidden='true'></span>
        <span class='visually-hidden'>Назад</span>
    </button>
    <button class='carousel-control-next d-none d-lg-block' type='button' data-type='next' data-carousel-btn>
        <span class='carousel-control-next-icon i-right' aria-hidden='true'></span>
        <span class='visually-hidden'>Далее</span>
    </button>
</section>