<section class="container layout-container">
    <h1 class="layout-title">Каталог оборудования</h1>
    <div class="grid-catalog grid-catalog--main">
        <a class="grid-catalog__item" href="#">
            <picture class="">
                <source srcset="../../content/category_foto_1.png" width="320" height="500" media="all" />
                <img src="../../content/category_foto_1.png" alt="category 1" />
            </picture>
            <span class="fs-2 fs-lg-3 h3 d-block">Оптико-эмиссионные спектрометры</span>
        </a>
        <a class="grid-catalog__item" href="#">
            <picture>
                <source srcset="../../content/category_foto_2.png" width="320" height="260" media="all" />
                <img src="../../content/category_foto_2.png" alt="category 2" />
            </picture>
            <span class="fs-2 fs-lg-3 h3 d-block">Портативные спектрометры</span>
        </a>
        <a class="grid-catalog__item" href="#">
            <picture>
                <source srcset="../../content/category_foto_3.png" width="320" height="260" media="all" />
                <img src="../../content/category_foto_3.png" alt="category 3" />
            </picture>
            <span class="fs-2 fs-lg-3 h3 d-block">Стационарные спектрометры</span>
        </a>
        <a class="grid-catalog__item" href="#">
            <picture>
                <source srcset="../../content/category_foto_4.png" width="320" height="260" media="all" />
                <img src="../../content/category_foto_4.png" alt="category 4" />
            </picture>
            <span class="fs-2 fs-lg-3 h3 d-block">Анализаторы драгоценных металлов</span>
        </a>
        <a class="grid-catalog__item" href="#">
            <picture>
                <source srcset="../../content/category_foto_5.png" width="320" height="260" media="all" />
                <img src="../../content/category_foto_5.png" alt="category 5" />
            </picture>
            <span class="fs-2 fs-lg-3 h3 d-block">Анализаторы углерода</span>
        </a>
    </div>
    <!--<div class="mt-4 mt-lg-6" >
        <a href="#" class="btn btn-primary d-lg-none btn-custom-width" style="--cpvp-btn-width: 100%">Весь каталог</a>
        <a href="#" class="btn btn-primary d-none d-lg-block btn-custom-width mx-auto" style="--cpvp-btn-width: 17.5rem">Весь каталог</a>
    </div>-->
</section>