<section class='container layout-container'>
    <h1 class='layout-title'>ПоРтативные анализаторы металла</h1>
    <div></div>
    <div class='row row-cols-2 row-cols-lg-3 gx-1 gy-5 g-lg-4' role='region' aria-label='Каталог полный'>
        <div class='card card--type2 card--type2-mob1 col'>
            <div class='card-img text-center'><img src='../../content/popular_1.png' alt='serv1' width='290' height='290' /></div>
            <div class='card-body'>
                <h4 class='card-title'>Оптико-эмиссионный Стил М1</h4>
                <p class='card-text'>Самый быстрый анализ металлов</p>
            </div>
            <div class='card-footer'>
                <a href='#' class='btn btn-primary d-block'>Узнать цену</a>
            </div>
        </div>
        <div class='card card--type2 card--type2-mob1 col'>
            <div class='card-img text-center'><img src='../../content/popular_2.png' alt='pop2' width='290' height='290' /></div>
            <div class='card-body'>
                <h4 class='card-title'>ОЭС спектрометр Стил М4</h4>
                <p class='card-text'>Самый бюджетный спектрометр</p>
            </div>
            <div class='card-footer'>
                <a href='#' class='btn btn-primary d-block'>Узнать цену</a>
            </div>
        </div>
        <div class='card card--type2 card--type2-mob1 col'>
            <div class='card-img text-center'><img src='../../content/popular_3.png' alt='pop3' width='290' height='290' /></div>
            <div class='card-body'>
                <h4 class='card-title'>ОЭС спектрометр Стил М5</h4>
                <p class='card-text'>Анализирует легкие металлы</p>
            </div>
            <div class='card-footer'>
                <a href='#' class='btn btn-primary d-block'>Узнать цену</a>
            </div>
        </div>
        <div class='card card--type2 card--type2-mob1 col'>
            <div class='card-img text-center'><img src='../../content/full_cat_1.png' alt='pop3' width='346' height='320' /></div>
            <div class='card-body'>
                <h4 class='card-title'>Оптико-эмиссионный спектрометр</h4>
                <p class='card-text'>Самый быстры анализ металлов</p>
            </div>
            <div class='card-footer'>
                <a href='#' class='btn btn-primary d-block'>Узнать цену</a>
            </div>
        </div>
    </div>
    <ul class='pagination d-jc-center mt-6' aria-label='Навигация по страницам'>
        <li class='page-item'><a href='#' class='page-link'><i class='i-left page-link-i'></i></a></li>
        <li class='page-item active' aria-current='page'><a href='#' class='page-link'>1</a></li>
        <li class='page-item' aria-current='page'><a href='#' class='page-link'>2</a></li>
        <li class='page-item' aria-current='page'><a href='#' class='page-link'>3</a></li>
        <li class='page-item' aria-current='page'><span class='page-div'>...</span></li>
        <li class='page-item' aria-current='page'><a href='#' class='page-link'>10</a></li>
        <li class='page-item'><a href='#' class='page-link'><i class='i-right page-link-i'></i></a></li>
    </ul>
</section>