<section class="container layout-container">
    <div class="rounded-1 bg-primary color-box">
        <div class="row g-0">
            <div class="col-lg-7">
                <p class="h2 color-box__title mb-4 mt-lg-4"><span>подготовим индивидуальное предложение</span> за 1 день</p>
                <ul class="list-iconed d-none d-lg-block">
                    <li>Расскажите менеджеру о вашей задаче</li>
                    <li>Мы подберем оптимальное оборудование, рассчитаем стоимость и оценим сроки поставки</li>
                </ul>
                <p class="d-lg-none fs-4 mb-4">Мы подберем оптимальное оборудование под ваши потребности, рассчитаем стоимость и оценим сроки поставки</p>
            </div>
            <div class="col-lg-5 ps-lg-4">
                <form>
                    <div class="mb-1">
                        <label class="visually-hidden" for="f-firstname">Имя</label>
                        <input type="text" class="form-control" placeholder="Имя" aria-label="Имя" id="f-firstname" />
                    </div>

                    <div class="mb-1">
                        <label class="visually-hidden" for="f-phone">Телефон</label>
                        <input type="text" class="form-control" placeholder="+7 (___) ___-__-__" aria-label="Телефон" id="f-phone" />
                    </div>

                    <div class="mb-4 mb-lg-1">
                        <label class="visually-hidden" for="f-email">Email</label>
                        <input type="text" class="form-control" placeholder="Email" aria-label="E-mail" id="f-email" />
                    </div>
                    <button type="submit" class="btn btn-outline-white w-100">Отправить</button>
                </form>
            </div>
        </div>
    </div>
</section>