<section class="container-lg layout-container">
    <div class="grid gap-lg-5" style="--pvp-gap: 8px">
        <div class="color-box color-box--min text-center rounded-1 g-col-6 g-col-lg-4">
            <p class="h3 fs-6 fs-lg-3">ОТ 0,001%</p>
            <p class="mb-0 fs-4 fs-lg-2">Чуствительность  от 0,001%</p>
        </div>
        <div class="color-box color-box--min text-center rounded-1 g-col-6 g-col-lg-4">
            <p class="h3 fs-6 fs-lg-3">от 165 до 585 нм</p>
            <p class="mb-0 fs-4 fs-lg-2">Широкий спектральный диапазон измерений</p>
        </div>
        <div class="color-box color-box--min text-center rounded-1 g-col-12 g-col-lg-4">
            <p class="h3 fs-6 fs-lg-3">Калибровка</p>
            <p class="mb-0 fs-4 fs-lg-2">Автоматическая калибровка спектра</p>
        </div>
    </div>
</section>