<section class='container layout-container'>
    <h2 class='layout-title'>Часто задаваемые&nbsp;<br /><span>вопросы</span></h2>
    <div class='accordion js-accordion' id='faq'>
        <div class='accordion-item'>
            <button
                class='accordion-button gradient-1'
                type='button'
                data-count='01'
                data-bs-toggle='collapse'
                data-bs-target='#faq-1'
                aria-expanded='true'
                aria-controls='faq-1'
            >
                Осуществляете ремонт оборудования и сервисную поддержку?
            </button>
            <div id='faq-1' class='accordion-collapse collapse show' data-bs-parent='#faq'>
                <div class='accordion-body'>
                    <span>Да, мы осуществляем ремонт оборудования и предоставляем сервисную поддержку для наших клиентов. Наша команда профессионалов
                        обеспечивает качественное обслуживание и быструю диагностику, что позволяет минимизировать время простоя вашего оборудования.</span>
                </div>
            </div>
        </div>
        <div class='accordion-item'>
            <button
                class='accordion-button gradient-1 collapsed'
                type='button'
                data-count='02'
                data-bs-toggle='collapse'
                data-bs-target='#faq-2'
                aria-expanded='false'
                aria-controls='faq-2'
            >
                Есть ли гарантия на оборудование?
            </button>
            <div id='faq-2' class='accordion-collapse collapse' data-bs-parent='#faq'>
                <div class='accordion-body'>
                    <span><strong>This is the second item’s accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These
                        classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                        custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>, though the transition does limit overflow.</span>
                </div>
            </div>
        </div>
        <div class='accordion-item'>
            <button
                class='accordion-button gradient-1 collapsed'
                type='button'
                data-count='03'
                data-bs-toggle='collapse'
                data-bs-target='#faq-3'
                aria-expanded='false'
                aria-controls='faq-3'
            >
                Вы работаете с НДС?
            </button>
            <div id='faq-3' class='accordion-collapse collapse' data-bs-parent='#faq'>
                <div class='accordion-body'>
                    <span><strong>This is the third item’s accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These
                        classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                        custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>, though the transition does limit overflow.</span>
                </div>
            </div>
        </div>
    </div>
</section>