<div class="container g-6 g-lg-0 py-lg-3 d-lg-flex">
    <div class="row g-0">
        <div class="col-12 col-lg-4">
            <div class="footer-about">
                <a href="{{basePath}}" class="footer-about__logo"><img src="../../img/logo_bottom.png" alt="logo" width="182" height="30" /></a>
                <p class="footer-about__sub fs-1 lh-1 mt-1 mb-0">Промышленное оборудование и&nbsp;приборы<br />для разрушающего и&nbsp;неразрушающего
                    контроля<br />в&nbsp;России и&nbsp;странах СНГ</p>
            </div>
            <div class="subscription-box my-6 my-lg-4">
                <p class="h3">Подпишитесь на рассылку:</p>
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Email" aria-label="subscription" aria-describedby="subscription-btn" />
                        <button class="btn btn-primary" type="submit" id="subscription-btn">Подписаться</button>
                    </div>
                </form>
            </div>
            <div class="copyright fs-1 lh-1 color-middle d-none d-lg-block">© ООО «ПВП «СНК» — 2025.<br />
                Системы неразрушающего контроля (ООО «Производственно-внедренческое предприятие «СНК»). Все права защищены.<br />
                <a href="#" class="color-reset">Политика конфиденциальности</a>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="row g-0 ps-lg-6">
                <div class="col-4 d-none d-lg-block">
                    <p class="h3">Услуги</p>
                    <ul class="menu-list">
                        <li class="menu-list__item"><a href="#">Ремонт</a></li>
                        <li class="menu-list__item"><a href="#">Поверка</a></li>
                        <li class="menu-list__item"><a href="#">Демонстрация</a></li>
                        <li class="menu-list__item"><a href="#">Аренда</a></li>
                        <li class="menu-list__item"><a href="#">Трейд-ин</a></li>
                        <li class="menu-list__item"><a href="#">Лизинг</a></li>
                        <li class="menu-list__item"><a href="#">Рассрочка</a></li>
                        <li class="menu-list__item"><a href="#">Аренда</a></li>
                    </ul>
                </div>
                <div class="col-4 d-none d-lg-block">
                    <p class="h3">Анализаторы</p>
                    <ul class="menu-list">
                        <li class="menu-list__item"><a href="#">Портативные</a></li>
                        <li class="menu-list__item"><a href="#">Стационарные</a></li>
                        <li class="menu-list__item"><a href="#">Оптико-эмиссионные</a></li>
                        <li class="menu-list__item"><a href="#">Для металла</a></li>
                        <li class="menu-list__item"><a href="#">Для геологии</a></li>
                        <li class="menu-list__item"><a href="#">Для Rohs</a></li>
                        <li class="menu-list__item"><a href="#">Для газа</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4">
                    <p class="h3 d-none d-lg-block">Свяжитесь с нами!</p>
                    <div class="d-flex gap-1 flex-column">
                        <div class="contact-box">
                            <div class="contact-box__head">Россия, Москва</div>
                            <div class="contact-box__sub">Нижняя Сыромятническая 10, с12</div>
                        </div>
                        <div class="contact-box">
                            <div class="contact-box__head">+7 (495) 640-57-74</div>
                            <div class="contact-box__sub">Многоканальный</div>
                        </div>
                        <div class="contact-box">
                            <div class="contact-box__head">8-800-777-07-04</div>
                            <div class="contact-box__sub">Бесплатно по&nbsp;России</div>
                        </div>
                        <div class="contact-box">
                            <div class="contact-box__head">info@pvp-snk.ru</div>
                        </div>
                        <div class="socials-box py-4 py-lg-0">
                            <a href="#" class="i-whatsapp" target="_blank"></a>
                            <a href="#" class="i-youtube" target="_blank"></a>
                            <a href="#" class="i-telegram" target="_blank"></a>
                        </div>
                        <div class="copyright fs-1 lh-1 color-middle d-lg-none">© ООО «ПВП «СНК» — 2025.<br />
                            Системы неразрушающего контроля (ООО «Производственно-внедренческое предприятие «СНК»). Все права защищены.<br />
                            <a href="#" class="color-reset">Политика конфиденциальности</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>