<section class="container layout-container">
    <h2 class="layout-title">Даем достойные&nbsp;<br /><span>гарантии</span></h2>
    <div class="row">
        <div class="col-lg-4 pe-lg-6 text-center">
            <figure class="figure mb-3 mb-lg-0 me-lg-1">
                <img src="../../content/license.png" width="323" height="274" alt="license" />
                <button class="btn btn-primary w-100 d-none d-lg-block">Получить КП</button>
            </figure>
        </div>
        <div class="col-lg-8 ps-lg-0">
            <div class="grid gap-1 gap-lg-4">
                <div class="basic-text-box basic-text-box--check g-col-12 g-col-lg-6">
                    <p class="basic-text-box__title h5"><i class="i-check"></i>Контроль качества</p>
                    <p>Каждый прибор проходит многоступенчатый контроль качества, что гарантирует его бесперебойную работу даже в сложных условиях</p>
                </div>
                <div class="basic-text-box basic-text-box--check g-col-12 g-col-lg-6">
                    <p class="basic-text-box__title h5"><i class="i-check"></i>Передовые технологии</p>
                    <p>Мы используем только современные технологии, что позволяет нам получать лучшие метрологические и аналитические характеристики</p>
                </div>
                <div class="basic-text-box basic-text-box--check g-col-12 g-col-lg-6">
                    <p class="basic-text-box__title h5"><i class="i-check"></i>Соответствие стандартам</p>
                    <p>Оборудование сертифицировано и соответствует всем международным и российским стандартам, включая требования ГОСТ</p>
                </div>
                <div class="basic-text-box basic-text-box--check g-col-12 g-col-lg-6">
                    <p class="basic-text-box__title h5"><i class="i-check"></i>Гарантия производителя</p>
                    <p>Бессрочная техническая поддержка и гарантийное обслуживание напрямую от производителя. В случае ремонта вы получите прибор на
                        замену</p>
                </div>
            </div>
            <div class="bg-white position-relative d-lg-none pt-3" style="top: -1px"></div>
            <button class="btn btn-primary w-100 d-lg-none">Получить КП</button>
        </div>
    </div>
</section>