<section class="container layout-container d-none d-lg-block js-carousel-container">
    <div class="logos-carousel" role="region" aria-label="Партнеры" data-carousel>
        {{#times 2}}
            <div class="logos-carousel__item rounded-2" data-carousel-item>
                <figure class="figure mb-0">
                    <img src="../../content/logo_helicopters.png" width="144" height="96" alt="helicopters" class="" />
                </figure>
            </div>
            <div class="logos-carousel__item rounded-2" data-carousel-item>
                <figure class="figure mb-0">
                    <img src="../../content/logo_rosneft.png" width="139" height="96" alt="rosneft" class="" />
                </figure>
            </div>
            <div class="logos-carousel__item rounded-2" data-carousel-item>
                <figure class="figure mb-0">
                    <img src="../../content/logo_gazprom.png" width="144" height="96" alt="gazprom" class="" />
                </figure>
            </div>
            <div class="logos-carousel__item rounded-2" data-carousel-item>
                <figure class="figure mb-0">
                    <img src="../../content/logo_polus.png" width="144" height="96" alt="polus" class="" />
                </figure>
            </div>
            <div class="logos-carousel__item rounded-2" data-carousel-item>
                <figure class="figure mb-0">
                    <img src="../../content/logo_severstal.png" width="144" height="96" alt="severstal" class="" />
                </figure>
            </div>
            <div class="logos-carousel__item rounded-2" data-carousel-item>
                <figure class="figure mb-0">
                    <img src="../../content/logo_seligdar.png" width="144" height="96" alt="seligdar" class="" />
                </figure>
            </div>
            <div class="logos-carousel__item rounded-2" data-carousel-item>
                <figure class="figure mb-0">
                    <img src="../../content/logo_gazprom.png" width="144" height="96" alt="gazprom" class="" />
                </figure>
            </div>
            <div class="logos-carousel__item rounded-2" data-carousel-item>
                <figure class="figure mb-0">
                    <img src="../../content/logo_polus.png" width="144" height="96" alt="polus" class="" />
                </figure>
            </div>
        {{/times}}
    </div>
    <ul class="indicator-list mt-4" data-carousel-nav>
        <li class="active">1</li>
    </ul>
</section>