<section class='container layout-container'>
    <h2 class='layout-title'>Поставки оборудования<br /><span>&nbsp;по всей России</span></h2>
    <p class='layout-subtitle'>Мы гордимся тем, что нам доверяют поставку оборудования для бизнеса ведущие компании из разных отраслей</p>
    <div class='map-box mx-auto' style=''>
        <div class='map-box__stamp'>
            <p class='m-0'><span class='h2 color-primary'>3500+</span><br />корпоративных<br />клиентов</p>
        </div>
    </div>
</section>