<section class='container layout-container'>
    <h2 class='layout-title'><span>Собственный</span><br />&nbsp;сервисный центр</h2>
    <div class='row g-0'>
        <div class='col-lg-8 pe-lg-6'>
            <div class='row row-cols-1 row-cols-lg-2 g-4'>
                <div class='basic-text-box basic-text-box--iconed col'>
                    <i class='i-shield'></i>
                    <div>
                        <p class='basic-text-box__title h5'><i class='i-shield'></i>Контроль качества</p>
                        <p>Производство оборудования под строгим контролем на&nbsp;всех этапах, что гарантирует их&nbsp;высокую надежность</p>
                    </div>
                </div>
                <div class='basic-text-box basic-text-box--iconed col'>
                    <i class='i-clock'></i>
                    <div>
                        <p class='basic-text-box__title h5'><i class='i-clock'></i>Оперативное обслуживание</p>
                        <p>СЦ&nbsp;работает напрямую с&nbsp;производителем, обеспечивая быстрое решение сложностей</p>
                    </div>
                </div>
                <div class='basic-text-box basic-text-box--iconed col'>
                    <i class='i-fire'></i>
                    <div>
                        <p class='basic-text-box__title h5'><i class='i-fire'></i>Оригинальные запчасти</p>
                        <p>На&nbsp;складе всегда доступны все необходимые компоненты для ремонта и&nbsp;обслуживания</p>
                    </div>
                </div>
                <div class='basic-text-box basic-text-box--iconed col'>
                    <i class='i-chat-text'></i>
                    <div>
                        <p class='basic-text-box__title h5'><i class='i-chat-text'></i>Техподдержка 24</p>
                        <p>Бессрочная поддержка и&nbsp;консультации специалистов, которые знают оборудование лучше других</p>
                    </div>
                </div>
            </div>
            <button type='button' class='btn btn-outline-dark w-100 d-lg-none mt-5'>Показать ещё</button>
        </div>
        <div class='col-lg-4 d-none d-lg-block'>
            <figure class='figure mb-0'>
                <img
                    src='../../content/technician-repairing-computer-motherboard-with-screwdriver.png'
                    class='img-fluid rounded'
                    alt='repairing'
                    width='395'
                    height='264'
                />
            </figure>
        </div>
    </div>
</section>