<section class="container layout-container">
    <h2 class="layout-title">Технологии, дающие&nbsp;<br /><span>точный</span> результат</h2>
    <ul class="nav nav-tabs d-jc-lg-center flex-nowrap js-tabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button
                class="nav-link active"
                id="tab-desc"
                data-bs-toggle="tab"
                data-bs-target="#content-desc"
                type="button"
                role="tab"
                aria-controls="content-desc"
                aria-selected="true"
            >Описание</button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="tab-attrs"
                data-bs-toggle="tab"
                data-bs-target="#content-attrs"
                type="button"
                role="tab"
                aria-controls="content-attrs"
                aria-selected="false"
            >Характеристики</button>
        </li>
        <li class="nav-item" role="presentation">
            <button
                class="nav-link"
                id="tab-interface"
                data-bs-toggle="tab"
                data-bs-target="#content-interface"
                type="button"
                role="tab"
                aria-controls="content-interface"
                aria-selected="false"
            >Интерфейс</button>
        </li>
    </ul>

    <div class="tab-content my-3 my-lg-6" id="">
        <div class="tab-pane fade show active" id="content-desc" role="tabpanel">
            <input type="checkbox" id="desc-checkbox" class="toggle-check" data-mob />
            <div class="row row-cols-1 row-cols-lg-3 -g-3 g-lg-5">
                <div class="col d-flex flex-column d-jc-center">
                    <div class="card card--type3 card--type3-hov mb-1 mb-lg-3">
                        <div class="card-body">
                            <h3 class="card-title">Мультиматричный анализ</h3>
                            <p class="card-text">Быстрая идентификация и точный анализ материалов.<br />
                                Результат анализа сопоставим с высокоточным анализом лабораторных спектрометров.</p>
                        </div>
                    </div>
                    <div class="card card--type3 card--type3-hov mb-1 mb-lg-3">
                        <div class="card-body">
                            <h3 class="card-title">CMOS-матрица детектора</h3>
                            <p class="card-text">Оптическая система интегрирована с технологией CMOS-детекторов, позволяет избежать трудоемкой ручной
                                работы и ошибок</p>
                        </div>
                    </div>
                    <div class="card card--type3 card--type3-hov mb-1 mb-lg-3">
                        <div class="card-body">
                            <h3 class="card-title">Технология струйных электродов</h3>
                            <p class="card-text">Оптимальный расход аргона снижает стоимость использования.</p>
                        </div>
                    </div>
                </div>
                <div class="col d-none d-lg-flex d-ai-center d-jc-center">
                    <figure class="figure mb-0">
                        <img src="../../content/tab-img.png" width="336" height="600" alt="tab-img" />
                    </figure>
                </div>
                <div class="col d-flex flex-column d-jc-center">
                    <div data-toggle-hide class="card card--type3 card--type3-hov mb-1 mb-lg-3">
                        <div class="card-body">
                            <h3 class="card-title">Автоматическая клибровка спектра</h3>
                            <p class="card-text">Автоматизируют необходимые<br />расчёты и изменения для точной калибровки</p>
                        </div>
                    </div>
                    <div data-toggle-hide class="card card--type3 card--type3-hov mb-1 mb-lg-3">
                        <div class="card-body">
                            <h3 class="card-title">Определение хим состава на различных основах</h3>
                            <p class="card-text">Fe, Cu, Al, Ni, Co, Mg, Ti, Zn, Pb, Sn</p>
                        </div>
                    </div>
                    <div data-toggle-hide class="card card--type3 card--type3-hov mb-1 mb-lg-3">
                        <div class="card-body">
                            <h3 class="card-title">Высокопроизводительное оптическое волокно</h3>
                            <p class="card-text">Работает стабильно в наилучшем состоянии в течение длительного времени</p>
                        </div>
                    </div>
                    <label role="button" class="btn btn-outline-dark w-100 d-lg-none" data-toggle-label for="desc-checkbox">Показать ещё</label>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="content-attrs" role="tabpanel">Контент вкладки «Характеристики»</div>
        <div class="tab-pane fade" id="content-interface" role="tabpanel">Контент вкладки «Интерфейс»</div>
    </div>
</section>