<section class="container layout-container">
    <h2 class="layout-title"><span>Видеообзоры</span> продукции</h2>
    <p class="layout-subtitle">Рассказываем о характеристиках и особенностях нашей продукции,  чтобы помочь вам сделать правильный выбор.</p>
    <div class="css-carousel player-preview-carousel d-jc-lg-between">
        <div class="css-carousel-item player-preview">
            <div class="player-preview__nav">
                <span class="play-btn"></span>
                <img src="../../content/video_preview_1.png" width="554" height="332" alt="preview 1" class="" />
            </div>
            <div class="player-preview__desc d-lg-flex d-jc-between d-ai-center">
                <div>
                    <span class="fs-6 fs-3 fw-400 fw-lg-500 lh-1">Заголовок видео</span>
                    <span class="d-none d-lg-block">Описание видео</span>
                </div>
                <div class="player-preview__time badge bg-secondary">1 минута</div>
            </div>
        </div>
        <div class="css-carousel-item player-preview">
            <div class="player-preview__nav">
                <span class="play-btn"></span>
                <img src="../../content/video_preview_2.png" width="554" height="332" alt="preview 2" class="" />
            </div>
            <div class="player-preview__desc d-lg-flex d-jc-between d-ai-center">
                <div>
                    <span class="fs-6 fs-3 fw-400 fw-lg-500 lh-1">Заголовок видео</span>
                    <span class="d-none d-lg-block">Описание видео</span>
                </div>
                <div class="player-preview__time badge bg-secondary">3 минуты</div>
            </div>
        </div>
    </div>
</section>