.card--type2 {
    --#{$prefix}card-title-spacer-y: 0.25rem;
    --#{$prefix}card-spacer-x: 0.25rem;
    --#{$prefix}card-spacer-y: 0.5rem;
    --#{$prefix}card-cap-padding-x: 0.25rem;
    --#{$prefix}card-cap-padding-y: 0;

    background: none;

    .card-img {
        background-color: var(--#{$prefix}card-bg);
        img {
            max-width: 100%;
        }
    }
}

.card--type2-mob1 {
    @include media-breakpoint-down(lg) {
        --#{$c-prefix}mob1-img-size: calc(50vw - #{$spacer} * 1.5 - #{$spacer} * 0.375);

        .card-img {
            height: var(--#{$c-prefix}mob1-img-size);
            width: var(--#{$c-prefix}mob1-img-size);
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .card-title {
            text-align: center;
        }
        .card-text {
            display: none;
        }
    }
}

.card--type3 {
    --#{$prefix}card-text-color: #{$dark};
    --#{$prefix}card-title-spacer-y: #{$spacer * 1.25};
    --#{$prefix}card-spacer-y: #{$spacer * 1.25};
    --#{$prefix}card-spacer-x: #{$spacer * 1.25};

    &-hov {
        &:hover {
            --#{$prefix}card-border-color: #{$primary};
            --#{$prefix}card-bg: none;
            --#{$prefix}card-title-color: #{$primary};

            cursor: default;
        }
    }

    @include media-breakpoint-up(lg) {
        --#{$prefix}card-spacer-y: #{$spacer * 1.75};
        --#{$prefix}card-spacer-x: #{$spacer * 1.75};
    }
}
