<div class='hero {{parentClass}}' data-carousel-item>
    <div class='col-lg-7 _ps-lg-6'>
        <h1 class='hero__title mt-1 mt-lg-0'>Новый мобильный оптико-эмиссионный спектрометр&nbsp;<span>Стил&nbsp;М3</span></h1>
        <p class='h3 color-middle d-none d-lg-block'>Мы предложим вам лучшее решение на рынке, полностью соответствующее вашим потребностям и задачам</p>
        <div class='d-grid d-lg-flex gap-4 my-4 mt-lg-6 mb-lg-0'>
            <a href='#' class='btn btn-primary'>Персональная скидка</a>
            <div class='d-as-center d-none d-lg-block'>Расскажите нам о своей задаче<br />и&nbsp;мы найдем оптимальное решение</div>
        </div>
    </div>
    <div class='col-lg-5'>
        <picture>
            <source srcset='../../../content/slide_2.png' width='540' height='561' media='(min-width:1024px)' />
            <img src='../../../content/slide_2_mob.png' width='375' height='312' alt='slide 2' class='hero__img' />
        </picture>
    </div>
</div>