<div class="hero {{parentClass}}" data-carousel-item>
    <div class="col-lg-7 ps-lg-6">
        <h1 class="hero__title mt-1 mt-lg-0">Портативные спектрометры<br /><span>от производителя</span></h1>
        <p class="h3 color-middle d-none d-lg-block">Экспресс-анализ в поле, на складе или в цехе. Не требует подготовки образцов. IP54, работа до 12
            часов.</p>
        <div class="d-grid d-lg-flex gap-4 my-4 mt-lg-6 mb-lg-0">
            <a href="#" class="btn btn-outline-primary d-none d-lg-block">Демонстрация</a>
            <a href="#" class="btn btn-primary">Подобрать прибор</a>
        </div>
    </div>
    <div class="col-lg-5">
        <picture>
            <source srcset="../../../content/slide_1.png" width="509" height="501" media="(min-width:1024px)" />
            <img src="../../../content/slide_1_mob.png" width="375" height="250" alt="slide 1" class="hero__img" />
        </picture>
    </div>
</div>