$icomoon-font-family: 'pvpicon' !default;
$icomoon-font-path: './../fonts' !default;

$i-list-dashes: unquote('"\\e900"');
$i-minus: unquote('"\\e901"');
$i-plus: unquote('"\\e902"');
$i-search: unquote('"\\e903"');
$i-chat-text: unquote('"\\e904"');
$i-check: unquote('"\\e905"');
$i-clock: unquote('"\\e906"');
$i-co2: unquote('"\\e907"');
$i-drag: unquote('"\\e908"');
$i-dzen: unquote('"\\e909"');
$i-fire: unquote('"\\e90a"');
$i-gear: unquote('"\\e90b"');
$i-geo: unquote('"\\e90c"');
$i-handshake: unquote('"\\e90d"');
$i-laptop: unquote('"\\e90e"');
$i-left: unquote('"\\e90f"');
$i-list: unquote('"\\e910"');
$i-location: unquote('"\\e911"');
$i-metall: unquote('"\\e912"');
$i-phone: unquote('"\\e913"');
$i-right: unquote('"\\e914"');
$i-shield: unquote('"\\e915"');
$i-telegram: unquote('"\\e916"');
$i-whatsapp: unquote('"\\e917"');
$i-wrench: unquote('"\\e918"');
$i-x: unquote('"\\e919"');
$i-youtube: unquote('"\\e91a"');
