@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..600&display=swap');

@import 'bs/bootstrap';

@import 'custom/variables';
@import 'custom/layout';
@import 'icons';
@import 'custom/bs/accordion';
@import 'custom/bs/breadcrumb';
@import 'custom/bs/buttons';
@import 'custom/blocks';
@import 'custom/bs/carousel';
@import 'custom/bs/card';
@import 'custom/bs/pagination';
@import 'custom/bs/type';

.input-group {
    background: var(--#{$prefix}body-bg);
    @include border-radius(var(--#{$prefix}border-radius));

    > .form-control:not(:last-child) {
        --#{$prefix}border-color: #{$white};
    }
    > .form-control + .btn {
        @include border-start-radius(var(--#{$prefix}border-radius), true);
    }
}

.menu-list {
    @extend .list-unstyled;
    gap: 0.25rem;
    a {
        --#{$prefix}link-color-rgb: #{to-rgb($body-color)};
        text-decoration: none;
    }

    &__item {
        padding: 0.25rem 0;
    }
}

.socials-box {
    display: flex;
    gap: 0.75rem;

    a {
        text-decoration: none;
    }
}

.toggle-check[data-mob] {
    position: absolute;
    opacity: 0;
    z-index: -1;

    @include media-breakpoint-down(lg) {
        &:checked ~ * [data-toggle-hide] {
            display: flex;
        }
        & ~ * [data-toggle-hide],
        &:checked ~ * [data-toggle-label] {
            display: none;
        }
    }
}

[class*='rounded'] {
    corner-shape: squircle;
}
